# IntelliJ IDEA
.idea/
*.iml
out/
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.nar
*.ear

# Logs
*.log

# Maven
target/

# Gradle
.gradle/
build/